*{
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #a1b7c9;
}
.navigation{
    
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.border:hover{
    background-color:#08121b;
    border-radius: 15px;
}
.navbar{
    width: 490px;
    height: 65px;
    background-color: #2995cf;
    font-size: 0.95rem;
    font-weight: 800;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    border: 0px;
    position: fixed; 
    top: 20px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 24px;
    
}
.border:popover-open{
    background-color: transparent;
}

/* media quary */

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    background-color: transparent; 
  }
  .navbar a {
    width: 480px;
    text-align: center;
    margin-top: 5px;
    border-radius: 15px;
    border: 0px;
    background-color: #12425c;
    padding: 10px;
  }
}
